body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

header {
    width: 100%;
    height: 60px;
}

header nav {
    display: flex;
    justify-content: flex-end;
}
header nav .nav-right-section {
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
nav .nav-right-section a {
    margin-right: 10px;
    color: #000000;
}
nav .nav-right-section .menu-icon {
    background-image: url('https://static.thenounproject.com/png/756729-200.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
}
nav .nav-right-section img {
    border-radius: 50%;
    margin-left: 10px;
}

main {
    margin-top: 150px;
    text-align: center;
}
main .main-logo {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}
main .main-logo img {
    width: 300px;
}

main .main-input {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-input-container {
    width: 525px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    /*Display: flex En este caso como el contenedor tiene 3 elementos. Flex ayuda a colocarlos de forma lineal.*/
    justify-content: center;
    align-items: center;
}
main .main-input input {
    width: 450px;
    height: 40px;
    border: none;
    outline: none;
}
main .main-input-container:hover {
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}
main .main-input .search-icon {
    background-image: url('https://img.icons8.com/android/24/000000/search.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    opacity: 0.4;
}
main .main-input .micro-icon {
    background-image: url('https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

main .main-buttons {
    width: 530px;
    margin: 0 auto;
}
main .main-buttons div {
    display: inline-block;
}
main .main-buttons button{
    height: 36px;
    background-color: #f2f2f2;
    border: 0;
    outline: none;
    color: #5f6368;
    border-radius: 4px;
    padding: 0 16px;
    margin: 11px 4px;
    font-size: 14px;
    border: 1px solid #f2f2f2;
}

main .main-buttons button:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

footer {
    width: 100%;
    height: 50px;
    /* Como asegurar que un footer se quede siempre debajo de la pág: */
    position: absolute;
    bottom: 0;
    /* Display: grid; Para generar la cuadricula con la que vamos a colocar el contenido de nuestro proyecto
    Todo lo que este adentro de display: grid va a ser parte de la cuadricula y se pueden decidir las fracciones de la misma. */
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Alinear los elementos: */
    align-items: center;
    font-size: 13px;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}
footer ul {
    margin: 10px;
    list-style: none;
    display: flex; /* Para que nos ayude a posicionar el contenido de forma horizontal */
    padding-left: 0;
}
footer .footer-left {
    justify-self: left;
}
footer .footer-right {
    justify-self: right;
}
footer ul li a {
    margin: 10px;
    color: #5f6368;
}
